@use '../../../styles/tokens.scss' as *;
@use '../../../styles/mixins.scss' as *;

.label {
    display: inline-flex;
    align-items: center;
    gap: $spacing-1;
    font-family: $font-family-sans;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $color-text;
    line-height: $line-height-normal;
    cursor: pointer;
    user-select: none;

    &:has(+ :disabled) {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.required {
    color: $color-danger-600;
    margin-left: 2px;
}