@use '../../../styles/tokens.scss' as *;
@use '../../../styles/mixins.scss' as *;

.divider {
    border: none;
    background-color: $color-border;

    &.horizontal {
        width: 100%;
        height: 1px;
        margin: $spacing-4 0;
    }

    &.vertical {
        width: 1px;
        height: auto;
        min-height: 20px;
        margin: 0 $spacing-4;
    }

    &.withLabel {
        @include flex-between;
        background: transparent;
        gap: $spacing-4;

        &::before,
        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: $color-border;
        }
    }
}

.label {
    font-size: $font-size-sm;
    color: $color-text-tertiary;
    white-space: nowrap;
}