/* --- Body Styles --- */
.body {
  display: grid;
  // overflow: auto;
}

.bodyRow {
  display: flex;
  width: 100%;
  
  &:hover {
    background-color: #f1f1f1;
  }
}

.bodyCell {
  padding: 8px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white; 
  box-sizing: border-box; 

  &:last-child {
    border-right: none;
  }
}